# SUPABASE_URL: The URL of your Supabase project (needed on client side)
VITE_SUPABASE_URL=

# SUPABASE_ANON_KEY: The anonymous key of your Supabase project (needed on client side)
VITE_SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=